* {
  padding: 0;
  margin: 0;
  user-select: none;
}

/* nav {
  height: clamp(4rem, 3.16rem + 2.367vw, 6rem);
  width: 92%;
  display: flex;
  position: absolute;
} */
.nl, .nr, .am {
  width: 50%;
}

.nl {
  display: flex;
  align-items: center;
}

.nr {
  display: flex;
  justify-content: flex-end;
}

.nl img {
  width: clamp(6rem, 5.2rem + 4vw, 10rem);
  position: relative;
  z-index: 1;
}

.rm {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  gap: 30px;
  position: absolute;
}

.am {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  color: #0b4f6c;
}

.rm li {
  font-family: 'Mulish', sans-serif;
  color: #0b4f6c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.4rem, 0.043rem + 2.714vw, 3.3rem);
  transition: all 0.1s ease;
}

.rm li:hover {
  border-bottom: 5px solid #0b4f6c;
}

.rm li a {
  text-decoration: none;
  color: #0b4f6c;
}

.frontpage {
  width: 100%;
  height: 100vh;
  background: url('images/blob-scene-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.material-symbols-outlined {
  font-size: 3rem;
}

.mid {
  display: flex;
  height: 100vh;
  width: 92%;
}

.pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic img {
  width: clamp(21.5rem, 2.571rem + 37.857vw, 48rem);
}

.title, .pic {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
}

.box h1 {
  font-family: 'Anton', sans-serif;
  line-height: .98;
  /* font-weight:800; */
  color: #fe938c;
  filter: drop-shadow(3px 5px 0.5px #0b4f6c);
}

.box a {
  margin-top: 4vh;
  font-family: 'Anton', sans-serif;
  text-decoration: none;
  color: #0b4f6c;
  border: 5px solid #0b4f6c;
  border-radius: 12px;
  padding: 0 10px;
  width: fit-content;
  align-self: center;
  transition: all 0.2s ease;
}

.box a:hover {
  color: #fe938c;
  background-color: #0b4f6c;
  border-color: #fe938c;
}

.bs {
  width: 100%;
}

#testimonials {
  margin-top: 2vh;
}

.tm p {
  width: 70%;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
  color: #0b4f6c;
  padding: 20px;
}

a.carousel-control-prev, a.carousel-control-next {
  width: 5%;
}

.bb {
  color: #0b4f6c;
}

.cs {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2vh 0 5vh;
}

.csm {
  width: 92%;
}

.cst {
  margin-top: 2vh;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: #0b4f6c;
}

.csm .csc {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1vh;
  padding: 20px 0;
}

.fd {
  width: 300px;
  height: 330px;
  background-color: #0b4f6c;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Hind Madurai', sans-serif;
}

.fd p {
  width: 80%;
  text-align: center;
}

.fd .material-symbols-outlined {
  font-size: 6rem;
}

.es {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(images/wave-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.es .csm {
  margin-top: 2vh;
}

.es .csm .csc {
  flex-wrap: nowrap;
}

.la {
  width: 30%;
}

.la img {
  width: 15rem;
}

.sc {
  color: #0b4f6c;
  margin-top: 3vh;
}

.sc ul {
  list-style: none;
  padding: 20px 0;
}

.sc a {
  color: #0b4f6c;
  text-decoration: none;
}

.sc span, .wlc span {
  font-weight: bolder;
}

.ra {
  font-family: 'Hind Madurai', sans-serif;
  color: #0b4f6c;
  display: flex;
  flex-direction: column;
}

.br {
  display: flex;
  justify-content: space-around;
}

.lc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lc p {
  margin: 0;
}

.dl {
  height: 100px;
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.dl img {
  width: clamp(10rem, 9.393rem + 2.589vw, 12.5rem);
}

.op {
  display: flex;
  flex-direction: column;
  background: white;
  position: absolute;
  width: 92vw;
  height: 90vh;
  top: 0vh;
  z-index: 1;
}

.ft {
  flex-direction: column;
  justify-content: center;
}

.nav-link {
  color: #0b4f6c !important;
}

/* page2 */
.page2, .page3, .page4 {
  background-image: url(images/blob-scene-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page2 nav, .page3 nav, .page4 nav {
  position: relative;
}

.rmn {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 3vh 0 10vh;
}

.cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cds {
  width: 350px;
  height: 400px;
}

.cd {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  width: 100%;
  height: 100%;
}

.bk {
  transform: rotateY(180deg);
}

.fr, .bk {
  color: #0b4f6c;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bk p {
  text-align: center;
  width: 90%;
  font-size: 1.5rem;
}

.cd:hover {
  transform: rotateY(180deg);
}

.cd img {
  width: 70%;
  margin-bottom: 2vh;
}

.cv button {
  width: 70%;
  height: 65px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  background: #0b4f6c;
  color: #fff;
}

.ab {
  font-size: 2.5rem;
  font-family: 'Anton', sans-serif;
}

.aa {
  transition: all 0.2s ease;
}

.aa:hover {
  font-size: 3rem;
}

.bi {
  width: 92%;
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
  color: #0b4f6c;
  align-items: center;
}

.lbi {
  display: flex;
  justify-content: center;
}

.bx {
  width: 90%;
  margin-top: 2vh;
}

.ord {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.oprc .material-symbols-outlined {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.oprc a {
  text-decoration: none;
}

.oqty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.oprc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.oprc input {
  text-align: right;
  width: 40px;
}

.oqty label {
  font-style: italic;
}

.oprc .material-symbols-outlined {
  color: #0b4f6c;
}

.ttal {
  display: flex;
  flex-direction: column;
}

.tt, .ttt {
  text-align: left;
  font-size: 1.5rem;
}

.tpr, .ttr {
  text-align: right;
  font-size: 1.3rem;
}

.ttt, .ttr {
  font-size: 2rem;
}

.totl {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  margin: 2vh 0;
  padding: 0 16px;
}

/* save */
.rbi {
  color: #0b4f6c;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crbi, .pmtdi {
  width: 95%;
  height: 95%;
}

.frms label {
  font-size: 1.5rem;
}

.prsn, .adrs {
  margin: 1vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

.prsn input, .adrs input {
  font-size: 1.2rem;
  margin: 1vh 0;
  border: none;
  border-bottom: 2px solid #0b4f6c;
  background: none;
}

.adrs {
  flex-wrap: wrap;
  gap: 3%;
}

.ccd {
  display: flex;
  flex-direction: column;
}

.crd,
.wlt {
  width: 100%;
  /* height:23vh; */
  position: relative;
  border: 2px solid #F2E9E4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.wlt {
  display: none;
}

.dtls {
  display: flex;
  flex-direction: column;
}

.wlte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wltec img {
  width: 50%;
}

.wltec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wlteq {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wlt, .crd {
  background: #F2E9E4;
}

.pbtn {
  display: flex;
}

.ptbs button {
  height: 4vh;
  border-radius: 5px 5px 0 0;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #0b4f6c;
}

.tpbt {
  background: #F2E9E4;
}

.rbi {
  color: #0b4f6c !important;
}

.pmtd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pmtdi .chkt {
  margin: 3vh 0;
  text-align: center;
}

.chkt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chko {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clk {
  width: 80%;
  height: 10vh;
  border: none;
  border-radius: 10px;
  background: #0b4f6c;
  color: #fff;
}

.txn {
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.cntn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lcnxt {
  width: 90%;
  color: #0b4f6c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
}

.lcnxt ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 1vw;
}

.lcnxt a {
  color: #0b4f6c;
  text-decoration: none;
  font-size: 2rem;
}

.page4 .br {
  display: flex;
  flex-direction: column;
}

.ddb {
  display: flex;
}

.ddr {
  display: flex;
}

.ddr input[type="text"], .ddr input[type="email"] {
  width: 50%;
  margin: 1vh 0;
  align-items: center;
  border: none;
  background: none;
  border-bottom: 2px solid #0b4f6c;
}

.ddr textarea {
  resize: none;
}

.ddr input[type="submit"] {
  background: #0b4f6c;
  border: 2px solid #0b4f6c;
  width: 25%;
  height: 12%;
  margin-top: 3vh;
  border-radius: 10px;
}

@media screen and (min-width: 320px) {
  .nr {
    display: none;
  }

  .am .material-symbols-outlined {
    display: flex;
    position: absolute;
  }

  .mid {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    width: 100%;
  }

  .box h1 {
    padding-top: 2vh;
    text-align: center;
    font-size: clamp(2.67rem, -0.836rem + 17.532vw, 3.7rem);
    line-height: 1.1;
  }

  .box a {
    font-size: clamp(1.8rem, 0.2rem + 8vw, 3.2rem);
  }

  .pic img {
    width: clamp(15.4rem, 7.147rem + 41.263vw, 35rem);
  }

  .la img {
    width: clamp(8rem, 6.6rem + 7vw, 15rem);
  }

  .es .csm .csc {
    flex-direction: column;
  }

  .ra {
    margin-top: 3vh;
  }

  .br {
    padding: 10px 0;
    flex-direction: column;
    margin-top: 3vh;
  }

  .lc {
    padding: 10px 0 20px;
  }

  .bi {
    flex-direction: column;
    width: 100%;
  }

  .lbi, .rbi, .pmtd{
    width: 90%;
  }

  .ord {
    flex-direction: column;
    width: 123.91px;
  }

  .ord .nme {
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
  }

  .ord .nprc {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  }

  .ord img {
    width: 30%;
  }

  .itms {
    display: flex;
    width: 100%;
    gap: 2vh;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .prsn, .adrs {
    flex-direction: column;
  }

  .prsn input, .adrs input {
    width: 100%;
  }

  .ptbs button {
    width: 50%;
    height: 8vh;
  }

  .tccd, .bccd {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .dtls {
    width: 100%;
  }

  .trns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ddb {
    flex-direction: column;
  }

  .ddr {
    flex-direction: column;
  }

  .scls, .ddl, .ddr {
    width: 90vw;
  }
}

@media screen and (min-width:568px) and (max-height: 414px) {
  .nr {
    display: none;
  }

  .am .material-symbols-outlined {
    display: flex;
  }

  .mid {
    align-items: center;
    flex-direction: row;
  }

  .box h1 {
    width: fit-content;
    font-size: clamp(2.6rem, 0.738rem + 5.246vw, 3.4rem);
  }

  .box {
    width: 100%;
    justify-content: center;
  }

  .box a {
    font-size: clamp(1.8rem, -0.648rem + 6.897vw, 2.8rem);
  }

  .title, .pic {
    width: 100%;
  }

  .pic img {
    width: clamp(14rem, 9.344rem + 13.115vw, 16rem);
  }

  .tm p {
    font-size: 1rem;
  }

  .es .csm .csc {
    flex-direction: row;
  }

  .br {
    flex-direction: row;
  }

  .ra {
    margin-top: 0;
  }
}

@media screen and (min-width:600px) and (min-height: 800px) {
  .nr {
    display: none;
  }

  .mid {
    flex-direction: column;
  }

  .box {
    justify-content: flex-start;
  }

  .box h1 {
    padding-top: 2vh;
    text-align: center;
    font-size: clamp(5.6rem, 0.1rem + 14.667vw, 10rem);
    line-height: 1.1;
  }

  .box a {
    font-size: clamp(3.2rem, 0.95rem + 6vw, 5rem);
  }

  .pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .pic img {
    width: clamp(22rem, -1.75rem + 63.333vw, 41rem);
  }
}

@media screen and (min-width: 800px) and (min-height:600px) {
  .nr {
    display: flex;
  }

  .am {
    display: none;
  }

  .mid {
    align-items: center;
    flex-direction: row;
  }

  .box h1 {
    width: fit-content;
    font-size: clamp(5rem, 2.143rem + 5.714vw, 9rem);
  }

  .box {
    width: 100%;
    justify-content: center;
  }

  .box a {
    font-size: clamp(4rem, 3.286rem + 1.429vw, 5rem);
  }

  .title, .pic {
    width: 100%;
  }

  .pic img {
    width: clamp(22rem, 9.143rem + 25.714vw, 40rem);
  }

  .op {
    display: none;
  }

  .es .csm .csc {
    flex-direction: row;
  }

  .ra {
    margin-top: 0;
  }

  .br {
    flex-direction: row;
  }
}

@media screen and (height:1366px), screen and (width:1080px) {
  .rm {
    display: flex;
  }

  .mid {
    flex-direction: column;
  }

  .box {
    justify-content: flex-start;
  }

  .box h1 {
    padding-top: 2vh;
    text-align: center;
    font-size: clamp(5.6rem, 0.1rem + 14.667vw, 10rem);
    line-height: 1.1;
  }

  .box a {
    font-size: clamp(3.2rem, 0.95rem + 6vw, 5rem);
  }

  .pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .pic img {
    width: clamp(22rem, -1.75rem + 63.333vw, 41rem);
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: unset;
    justify-content: flex-end;
  }

  .bl {
    width: 92%;
    height: 85vh;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
  }

  .mg {
    height: 3vh;
    background: blue;
    width: 100%;
  }

  .in {
    width: 60%;
    height: 50vh;
  }

  .nav-link>.material-symbols-outlined {
    font-size: 1.5rem;
  }

  .bi {
    flex-direction: row;
  }

  .bx h4 {
    text-align: left;
  }

  .ord {
    flex-direction: row;
    width: 100%;
  }

  .ord img {
    width: 25%;
  }

  .itms {
    width: 100%;
    flex-direction: column;
  }

  .prsn, .adrs {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .ptbs button {
    width: 30%;
    height: 4vh;
  }

  .tccd, .bccd {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .dtls {
    width: 50%;
  }

  .trns {
    flex-direction: row;
    justify-content: space-between;
  }

  .ddb {
    flex-direction: row;
  }

  .scls, .ddl, .ddr {
    width: 30vw;
  }

  .ddr {
    flex-direction: column;
  }
}
