* {
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  height: 12vh;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

li {
  width: 50%;
}

li:nth-child(1) {
  display: flex;
  justify-content: flex-start;
}

.material-icons.md-light {
  font-size: 3.5rem;
  margin-left: 3vw;
  color: #0b4f6c;
}

li:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

li img {
  width: clamp(10rem, 9.4000rem + 3.0000vw, 13rem);
  margin-right: 2vw;
}

.frontpage {
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='969' preserveAspectRatio='none' viewBox='0 0 1920 969'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3crect width='1920' height='969' x='0' y='0' fill='rgba(255%2c 179%2c 46%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c742.504C136.062%2c727.377%2c252.025%2c641.564%2c352.663%2c548.755C441.526%2c466.805%2c498.584%2c360.024%2c538.479%2c245.915C575.555%2c139.869%2c578.661%2c29.78%2c573.342%2c-82.434C567.505%2c-205.578%2c578.114%2c-338.467%2c506.04%2c-438.486C431.989%2c-541.248%2c301.716%2c-579.216%2c183.183%2c-623.864C55.928%2c-671.798%2c-79.485%2c-752.658%2c-207.691%2c-707.331C-335.611%2c-662.105%2c-389.224%2c-513.888%2c-458.258%2c-397.083C-516.379%2c-298.741%2c-566.851%2c-196.726%2c-576.727%2c-82.921C-586.244%2c26.747%2c-538.442%2c127.19%2c-513.047%2c234.301C-480.648%2c370.95%2c-506.711%2c534.374%2c-406.937%2c633.206C-305.089%2c734.093%2c-142.479%2c758.345%2c0%2c742.504' fill='%23f19900'%3e%3c/path%3e%3cpath d='M1920 1742.586C2077.344 1740.3200000000002 2243.966 1764.0549999999998 2378.616 1682.621 2514.542 1600.415 2601.774 1453.561 2648.7889999999998 1301.827 2692.638 1160.311 2649.8959999999997 1013.711 2631.429 866.712 2612.594 716.778 2628.89 554.0319999999999 2539.538 432.16700000000003 2447.742 306.96799999999996 2296.0190000000002 238.60199999999998 2144.882 203.12099999999998 1998.718 168.80700000000002 1848.26 191.822 1704.834 236.21000000000004 1563.032 280.096 1419.949 339.49300000000005 1327.92 455.95899999999995 1237.642 570.2090000000001 1206.434 720.8489999999999 1206.8229999999999 866.461 1207.179 999.777 1292.104 1110.626 1330.008 1238.44 1375.8310000000001 1392.9560000000001 1330.289 1591.254 1452.816 1695.953 1574.2559999999999 1799.723 1760.28 1744.886 1920 1742.586' fill='%23ffc96a'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='1920' height='969' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.mid h1 {
  font-family: 'Anton', sans-serif;
  font-size: clamp(4rem, 0.1rem + 19.5vw, 23.5rem);
  color: #fff;
  text-align: center;
  /* line-height: 0.95; */
  /* letter-spacing: clamp(1rem, 0.6000rem + 2.0000vw, 3rem); */
}

.mid h2 {
  font-size: clamp(2rem, 1.6000rem + 2.0000vw, 4rem);
  color: #fff;
  font-family: 'Yomogi', cursive;
  margin-top: 20px;
}

.mid a {
  text-decoration: none;
  color: #fff;
  font-size: clamp(2rem, 1.6000rem + 2.0000vw, 4rem);
  border: 3px solid #fff;
  border-radius: 12px;
  padding: 2px 15px;
  font-family: 'Yomogi', cursive;
}

.frontpage img {
  /* width: clamp(18.75rem, -6.196rem + 52.038vw, 56.25rem); */
  /* transform: rotateZ(45deg); */
max-width: 45%;
height:auto;
  /* width:280px; */
  margin-bottom: 20px;
}


 /* @media screen and (max-width:600px){
  .frontpage img {
    max-width: 90%;
  } */
}/*
@media screen and (min-height:600px) {
  .frontpage img {
    width: 500px;
  }
}


@media screen and (min-height:700px) {
  .frontpage img {
    width: 700px;
  }
}
@media screen and (min-height:1080px) {
  .frontpage img {
    width: 900px;
  }
} */
